<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuKava</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">


    <style>
         #button-container {
            height: 300px;
            border: 2px solid #000;
            padding: 10px;
            display: flex;
            flex-direction: column;
         }
    </style>

</head>
<body>
    <div class="main-page">
        <div class="menu-container">

            

        </div>

    
        <button id="btn1" onclick="addButton('<%= btn1 %>')" ><%= btn1 %></button>
        <button id="btn2" onclick="addButton('<%= btn2 %>')" ><%= btn2 %></button>
    
        
        <div id="button-container">
            
        </div>
        
        <script src="/MyScript.js" defer></script>
        <script>
            
        </script>
</body>
</html>